---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import curve from '~/assets/imgs/curve.png'
import heroBackground from '~/assets/imgs/hero-background.jpg'
import loading from '~/assets/imgs/loading.png'
import robot from '~/assets/imgs/robot.jpg'
import Button from '~/components/primitive/button.astro'
import Section from '~/components/primitive/section.astro'
import Typography from '~/components/primitive/typography.astro'
import HeroBackdrop from './backdrop.astro'
import CompanyLogos from './company-logos.astro'
import HeroNotification from './notification.astro'
---

<Section id='hero' class='py-24'>
	<div class='mx-auto max-w-5xl pb-20 text-center'>
		<Typography component='h1' class='pb-6'>
			Explore the Possibilities of&nbsp;AI&nbsp;Chatting with {` `}
			<span class='relative'>
				Brainwave
				<Image
					src={curve}
					loading='eager'
					alt='Curve'
					class='absolute -bottom-2 left-0 w-full'
				/>
			</span>
		</Typography>
		<Typography
			component='p1'
			class='mx-auto max-w-3xl pb-8 text-lilac-gray'
		>
			Unleash the power of AI within Brainwave. Upgrade your productivity
			with Brainwave, the open AI chat app.
		</Typography>
		<Button intent='contained-white'> Contact me </Button>
	</div>

	<div class='relative mx-auto max-w-sm md:max-w-5xl'>
		<div
			class='absolute -top-[54%] left-1/2 -z-20 w-[234%] -translate-x-1/2 md:-top-[46%] md:w-[138%] lg:-top-[104%]'
		>
			<Image
				src={heroBackground}
				alt='hero'
				loading='eager'
				class='w-full'
			/>
		</div>

		<div class='rounded-2xl bg-conic-gradient p-0.5'>
			<div class='h-6 rounded-t-2xl bg-slate-blue'></div>

			<div
				class='aspect-[33/40] overflow-hidden rounded-b-2xl md:aspect-[688/490] lg:aspect-[1024/490]'
			>
				<Image
					src={robot}
					alt='Robot'
					loading='eager'
					class='w-full translate-y-[8%] max-md:scale-[1.7] md:-translate-y-[10%] lg:-translate-y-[23%]'
				/>
			</div>

			<div
				class='mx-3 h-6 rounded-b-3xl bg-dark-navy shadow-xl lg:mx-10 lg:h-6'
			>
			</div>
			<div
				class='mx-8 h-6 rounded-b-3xl bg-dark-navy/70 shadow-xl lg:mx-20 lg:h-6'
			>
			</div>
		</div>

		<div
			class='absolute bottom-20 right-1/2 flex w-4/5 translate-x-1/2 items-center rounded-full bg-ink-black/80 px-6 py-4 text-base md:w-[32rem]'
		>
			<Image src={loading} alt='Loading' loading='lazy' class='size-5' />
			<p class='pl-4'>AI is generating</p>
		</div>

		<ul
			class='absolute -left-24 bottom-32 hidden rounded-2xl border border-white/10 bg-shadow-gray/40 p-1 backdrop-blur xl:flex'
		>
			{
				(
					[
						'home-smile',
						'file-2',
						'search-md',
						'plus-square',
					] as const
				).map((name) => (
					<li class='p-5'>
						<Icon name={name} width={24} height={25} />
					</li>
				))
			}
		</ul>

		<HeroNotification />
	</div>

	<HeroBackdrop />

	<CompanyLogos />
</Section>
