---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import BenefitCard from '~/assets/imgs/benefit-card.png'
import Section from '../primitive/section.astro'

const BENEFITS = [
	{
		title: 'Ask anything',
		text: 'Lets users quickly find answers to their questions without having to search through multiple sources.',
		backgroundUrl: './src/assets/benefits/card-1.svg',
		iconName: 'benefits-icon-1',
	},
	{
		title: 'Improve everyday',
		text: 'The app uses natural language processing to understand user queries and provide accurate and relevant responses.',
		backgroundUrl: './src/assets/benefits/card-2.svg',
		iconName: 'benefits-icon-2',
	},
	{
		title: 'Connect everywhere',
		text: 'Connect with the AI chatbot from anywhere, on any device, making it more accessible and convenient.',
		backgroundUrl: './src/assets/benefits/card-3.svg',
		iconName: 'benefits-icon-3',
	},
	{
		title: 'Fast responding',
		text: 'Lets users quickly find answers to their questions without having to search through multiple sources.',
		backgroundUrl: './src/assets/benefits/card-4.svg',
		iconName: 'benefits-icon-4',
	},
	{
		title: 'Ask anything',
		text: 'Lets users quickly find answers to their questions without having to search through multiple sources.',
		backgroundUrl: './src/assets/benefits/card-5.svg',
		iconName: 'benefits-icon-1',
	},
	{
		title: 'Improve everyday',
		text: 'The app uses natural language processing to understand user queries and provide accurate and relevant responses.',
		backgroundUrl: './src/assets/benefits/card-6.svg',
		iconName: 'benefits-icon-2',
	},
] as const
---

<Section class='py-24'>
	<h2
		class='mx-auto pb-20 text-center text-[1.75rem] leading-[2.5rem] opacity-90 md:max-w-md md:text-[2rem] md:leading-[2.5rem] lg:max-w-2xl lg:text-[2.5rem] lg:leading-[3.5rem] xl:text-[3rem] xl:leading-tight'
	>
		Chat Smarter, Not Harder with Brainwave
	</h2>

	<div
		class='grid grid-cols-1 place-items-center gap-x-14 gap-y-8 lg:grid-cols-2 lg:px-16 xl:grid-cols-3'
	>
		{
			BENEFITS.map((item, i) => (
				<div class='group relative aspect-[12/11] w-full max-w-md'>
					{i % 2 === 0 && (
						<div class='absolute left-1/4 top-0 -z-10 aspect-square w-full bg-radial-gradient from-[#28206C] to-[#28206C]/0 to-70%' />
					)}

					<div
						class='absolute inset-0.5 -z-10 scale-[1.006] bg-charcoal-black'
						style={{ clipPath: 'url(#benefits)' }}
					/>
					<div
						class='absolute inset-0.5 -z-10 bg-ink-black'
						style={{ clipPath: 'url(#benefits)' }}
					>
						<div class='absolute inset-0 opacity-0 transition-opacity group-hover:opacity-10'>
							<Image
								src={BenefitCard}
								loading='lazy'
								width={384}
								height={352}
								alt={item.title}
								class='h-full w-full object-cover'
							/>
						</div>
					</div>

					<div class='flex h-full flex-col p-10'>
						<h3 class='pb-5 text-2xl leading-normal'>
							{item.title}
						</h3>
						<p class='pb-6 text-[0.875rem] font-light leading-6 text-amethyst-purple md:text-base'>
							{item.text}
						</p>
						<div class='mt-auto flex items-center justify-between'>
							<Icon name={item.iconName} class='size-12' />
							<a href='/' class='flex items-center gap-x-4'>
								<span class='font-code text-xs font-bold uppercase tracking-wider'>
									Explore more
								</span>
								<Icon name='arrow' class='size-6' />
							</a>
						</div>
					</div>
				</div>
			))
		}
	</div>

	<svg width='0' height='0'>
		<clipPath id='benefits' clipPathUnits='objectBoundingBox'>
			<path
				d='M0.079,0 h0.756 a0.079,0.083,0,0,1,0.058,0.026 l0.086,0.096 A0.079,0.083,0,0,1,1,0.179 V0.917 c0,0.046,-0.035,0.083,-0.079,0.083 H0.079 c-0.044,0,-0.079,-0.037,-0.079,-0.083 V0.083 C0,0.037,0.035,0,0.079,0'
			></path>
		</clipPath>
	</svg>
</Section>
