---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import discord from '~/assets/imgs/discord.png'
import figma from '~/assets/imgs/figma.png'
import framer from '~/assets/imgs/framer.png'
import notion from '~/assets/imgs/notion.png'
import photoshop from '~/assets/imgs/photoshop.png'
import protopie from '~/assets/imgs/protopie.png'
import raindrop from '~/assets/imgs/raindrop.png'
import slack from '~/assets/imgs/slack.png'
import { tw } from '~/libs/utils'
import Button from '../primitive/button.astro'
import Section from '../primitive/section.astro'
import Typography from '../primitive/typography.astro'

const CONTENT = [
	{
		title: 'Seamless Integration',
		text: "With smart automation and top-notch security, it's the perfect solution for teams looking to work smarter.",
	},
	{
		title: 'Smart Automation',
	},
	{
		title: 'Top-notch Security',
	},
]

const APPS = [
	{
		title: 'Figma',
		img: figma,
		width: 26,
		height: 36,
		position: tw`rotate-[0]`,
		rotation: tw`rotate-[0]`,
	},
	{
		title: 'Notion',
		img: notion,
		width: 34,
		height: 36,
		position: tw`rotate-[45deg]`,
		rotation: tw`-rotate-[45deg]`,
	},
	{
		title: 'Discord',
		img: discord,
		width: 36,
		height: 28,
		position: tw`rotate-[90deg]`,
		rotation: tw`-rotate-[90deg]`,
	},
	{
		title: 'Slack',
		img: slack,
		width: 34,
		height: 35,
		position: tw`rotate-[135deg]`,
		rotation: tw`-rotate-[135deg]`,
	},
	{
		title: 'Photoshop',
		img: photoshop,
		width: 34,
		height: 34,
		position: tw`rotate-[180deg]`,
		rotation: tw`-rotate-[180deg]`,
	},
	{
		title: 'Protopie',
		img: protopie,
		width: 34,
		height: 34,
		position: tw`rotate-[225deg]`,
		rotation: tw`-rotate-[225deg]`,
	},
	{
		title: 'Framer',
		img: framer,
		width: 26,
		height: 34,
		position: tw`rotate-[270deg]`,
		rotation: tw`-rotate-[270deg]`,
	},
	{
		title: 'Raindrop',
		img: raindrop,
		width: 38,
		height: 32,
		position: tw`rotate-[315deg]`,
		rotation: tw`-rotate-[315deg]`,
	},
]
---

<Section id='collaboration' class='py-16 md:px-20 md:py-24'>
	<div class='mx-auto max-w-7xl lg:flex'>
		<div class='max-w-md'>
			<Typography component='h2' class='pb-4 md:pb-8'>
				AI Chat App for seamless collaboration
			</Typography>

			<ul class='max-w-[22rem] space-y-8 pb-10 md:pb-14'>
				{
					CONTENT.map((item) => (
						<li>
							<div class='flex items-center'>
								<Icon name='check-1' width={24} height={24} />
								<Typography
									component='h6'
									class='pl-5 text-base font-light leading-8'
								>
									{item.title}
								</Typography>
							</div>
							{item.text && (
								<Typography
									component='p2'
									class='pt-3 text-slate-gray'
								>
									{item.text}
								</Typography>
							)}
						</li>
					))
				}
			</ul>

			<Button intent='outlined-gradient'>Try it now</Button>
		</div>

		<div class='mt-4 lg:ml-auto xl:w-[38rem]'>
			<Typography
				component='p2'
				class='pb-12 text-slate-gray md:pb-16 lg:mx-auto lg:w-[22rem] lg:pb-32'
			>
				With smart automation and top-notch security, it's the perfect
				solution for teams looking to work smarter.
			</Typography>

			<div
				class='relative mx-auto flex aspect-square rounded-full border border-deep-indigo max-md:scale-90 md:w-[22rem] md:scale-100'
			>
				<div
					class='m-auto flex aspect-square w-60 rounded-full border border-deep-indigo'
				>
					<div
						class='m-auto aspect-square w-24 rounded-full bg-conic-gradient p-[0.2rem]'
					>
						<div
							class='flex size-full items-center justify-center rounded-full bg-ink-black'
						>
							<Icon name='logo' width={48} height={48} />
						</div>
					</div>
				</div>

				<ul>
					{
						APPS.map((app) => (
							<li
								class:list={[
									app.position,
									'absolute left-1/2 top-0 -ml-[1.6rem] h-1/2 origin-bottom',
								]}
							>
								<div
									class:list={[
										app.rotation,
										'relative -top-[1.6rem] flex size-14 rounded-xl border border-white/15 bg-night-black',
									]}
								>
									<Image
										src={app.img}
										alt={app.title}
										width={app.width}
										height={app.height}
										loading='lazy'
										class='m-auto'
									/>
								</div>
							</li>
						))
					}
				</ul>

				<div
					class='absolute right-full top-1/2 -mt-1 mr-10 hidden w-[32.625rem] xl:block'
				>
					<Icon name='curve-1' width={522} height={182} />
				</div>
				<div
					class='absolute left-full top-1/2 -mt-1 ml-10 hidden w-[10.125rem] xl:block'
				>
					<Icon name='curve-2' width={162} height={76} />
				</div>
			</div>
		</div>
	</div>
</Section>
