---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import sphere from '~/assets/imgs/sphere.png'
import Button from '../primitive/button.astro'
import Section from '../primitive/section.astro'
import Typography from '../primitive/typography.astro'

const PRICING = [
	{
		title: 'Basic',
		description: 'AI chatbot, personalized recommendations',
		price: '0',
		features: [
			'An AI chatbot that can understand your queries',
			'Personalized recommendations based on your preferences',
			'Ability to explore the app and its features without any cost',
		],
	},
	{
		title: 'Premium',
		description:
			'Advanced AI chatbot, priority support, analytics dashboard',
		price: '9.99',
		features: [
			'An advanced AI chatbot that can understand complex queries',
			'An analytics dashboard to track your conversations',
			'Priority support to solve issues quickly',
		],
	},
	{
		title: 'Enterprise',
		description: 'Custom AI chatbot, advanced analytics, dedicated account',
		price: '0.00',
		features: [
			'An AI chatbot that can understand your queries',
			'Personalized recommendations based on your preferences',
			'Ability to explore the app and its features without any cost',
		],
	},
] as const
---

<Section id='pricing' class='py-16 md:px-20 md:py-24'>
	<div class='relative hidden justify-center pb-[6.5rem] lg:flex'>
		<Image
			src={sphere}
			alt='Sphere'
			width={255}
			height={255}
			loading='lazy'
			class='pt-20'
		/>
		<div class='absolute right-1/2 w-[60rem] translate-x-1/2'>
			<Icon name='stars' class='w-full' width={950} height={400} />
		</div>
	</div>

	<div class='mx-auto pb-8 text-center md:pb-20'>
		<div class='flex items-center justify-center gap-x-2 pb-4'>
			<Icon name='bracket-left' class='size-4' />
			<Typography component='tagline' class='text-lilac-gray'
				>Get started with Brainwave</Typography
			>
			<Icon name='bracket-right' class='size-4' />
		</div>
		<Typography component='h2'>Pay once, use forever</Typography>
	</div>

	<div class='relative'>
		<div class='mx-auto flex max-w-7xl gap-[1rem] max-lg:flex-wrap'>
			{
				PRICING.map((item, i) => (
					<div class='h-full w-[19rem] rounded-[2rem] border border-deep-indigo px-6 odd:my-4 odd:py-8 even:py-14 max-lg:w-full lg:w-auto [&>h4]:first:text-sunset-orange [&>h4]:last:text-coral-red [&>h4]:even:text-lavender-purple'>
						<Typography component='h4' class='pb-4'>
							{item.title}
						</Typography>

						<Typography
							component='p2'
							class='min-h-[4rem] text-slate-gray'
						>
							{item.description}
						</Typography>

						<div class='flex h-[7.75rem] items-center pb-6 pt-3'>
							{i !== 2 && (
								<>
									<Typography component='h3'>$</Typography>
									<div class='text-[5.5rem] font-bold leading-none'>
										{item.price}
									</div>
								</>
							)}
						</div>

						<Button
							intent={
								item.price === '0.00'
									? 'outlined-gradient'
									: 'contained-white'
							}
							class='w-full'
						>
							{item.price === '0.00'
								? 'Contact us'
								: 'Get started'}
						</Button>

						<ul class='pt-6'>
							{item.features.map((feature) => (
								<li class='flex items-start border-t border-deep-indigo py-5'>
									<Icon
										name='check-1'
										width={24}
										height={24}
									/>
									<Typography component='p2' class='pl-4'>
										{feature}
									</Typography>
								</li>
							))}
						</ul>
					</div>
				))
			}
		</div>
	</div>

	<div class='flex justify-center pt-10'>
		<a
			class='border-b font-code text-xs font-bold uppercase tracking-wider'
			href='#pricing'
		>
			See the full details
		</a>
	</div>
</Section>
